.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
}

.gallery__thumbnail_link {
  width: 30%;
}
.gallery__thumbnail_link:target {
  img {
    border: 2px solid var(--red);
  }
}

.gallery-modal {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}

.gallery-modal:not(:target) {
  display: none;
}

.gallery-modal__overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

.gallery-modal__content {
  background: var(--off-white);
  position: relative;
  margin: auto;
  padding: var(--space-m);
  border-radius: 4px;
  max-height: 80vh;
  max-width: 80vw;
  display: flex;
  align-items: center;
  gap: var(--space-2xs);

  img {
    object-fit: contain;
    margin: 0;
    max-height: 80vh;
  }
}

.gallery-modal__close {
  font-size: 36px;
  color: var(--black);
  text-decoration: none;
  position: absolute;
  right: 6px;
  top: -10px;
}

.gallery-modal__nav {
  font-size: 36px;
  text-decoration: none;
  color: var(--black);
}
