body {
  padding: 0 var(--space-s) var(--space-2xl);
  margin: 0 auto;
  max-width: 55rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

section {
  margin-bottom: var(--space-2xl);
}

footer {
  border-top: 3px solid var(--red);
  padding-top: var(--space-xl);
  margin-top: var(--space-3xl);
}
