.site-header {
  background-color: var(--black);
  padding: var(--space-xl) var(--space-m) var(--space-l);
  font-size: var(--step-1);
  margin-bottom: var(--space-xl);
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  a {
    font-weight: bolder;
    color: var(--off-white);
    text-decoration: none;

    &:hover {
      color: var(--off-white);
      text-decoration: underline;
      text-decoration-thickness: 5px;
      text-underline-offset: var(--space-2xs);
    }
  }

  nav {
    margin: 0 auto;
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: var(--space-l);
    row-gap: var(--space-m);
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-m);
    row-gap: var(--space-2xs);
  }
}

.site-header__home_link {
  display: flex;

  img {
    margin-top: calc(-1 * var(--step-4) / 4);
    height: var(--step-4);
  }
}
