.site-header {
  margin-bottom: var(--space-xl);
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: var(--space-l);
    row-gap: var(--space-m);
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--space-m);
    row-gap: var(--space-2xs);
  }
}
