<div class="gallery">
  {% for asset in page.assets | sort -%} {%- if asset is
  matching("[.](jpg|png|JPG)$") and asset is containing(folder) -%} {% set
  thumbnail = resize_image(path=asset, width=300, height=300, op='fill') %} {%
  set thumbnail_webp = resize_image(path=asset, width=300, height=300,
  op="fill", format="webp", quality=75) %} {% set medium =
  resize_image(path=asset, width=1600, height=800, op='fit') %} {% set
  medium_webp = resize_image(path=asset, width=1600, height=800, op="fit",
  format="webp", quality=75) %}
  <a
    class="gallery__thumbnail_link"
    href="#{{ folder }}-lightbox-{{ loop.index }}"
    id="{{ folder }}-thumbnail-{{ loop.index }}"
  >
    <picture>
      <source srcset="{{ thumbnail_webp.url }}" type="image/webp" />
      <img loading="lazy" src="{{ thumbnail.url }}" />
    </picture>
  </a>
  <div
    role="dialog"
    class="gallery-modal"
    id="{{ folder }}-lightbox-{{ loop.index }}"
  >
    <a
      href="#{{ folder }}-thumbnail-{{ loop.index }}"
      class="gallery-modal__overlay"
      tabindex="-1"
    ></a>
    <div class="gallery-modal__content">
      <a
        title="Close lightbox"
        aria-label="Close lightbox"
        href="#{{ folder }}-thumbnail-{{ loop.index }}"
        class="gallery-modal__close"
        >&times;
      </a>
      {% if not loop.first %}
      <a
        title="Previous image"
        aria-label="Previous image"
        href="#{{ folder }}-lightbox-{{ loop.index - 1}}"
        class="gallery-modal__nav"
        >《</a
      >
      {% endif %}
      <picture>
        <source srcset="{{ medium_webp.url }}" type="image/webp" />
        <img loading="lazy" src="{{ medium.url }}" />
      </picture>
      {% if not loop.last %}
      <a
        title="Next image"
        aria-label="Next image"
        href="#{{ folder }}-lightbox-{{ loop.index + 1}}"
        class="gallery-modal__nav"
        >》
      </a>
      {% endif %}
    </div>
  </div>
  {%- endif %} {%- endfor %}
</div>
