<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Zeltlager St. Vicelin Bad Oldesloe</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">ZeLa St. Vicelin</a></li>
          <li><a href="/pages/was-ist-zela">Was ist ZeLa</a></li>
          <li><a href="/pages/lager-regeln">Lagerregeln</a></li>
          <li><a href="/lager">Alle Lager</a></li>
          <li><a href="https://freunde.zela-od.de">Zeltlagerfreunde</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>
        Kontakte über das Pfarrbüro der Gemeinde St. Vicelin Bad Oldesloe
        Vicelinstraße 1, 23843 Bad Oldesloe oder per Mail an
        <a href="mailto:lagerleiter@zela-od.de">lagerleiter@zela-od.de</a> oder
        <a href="mailto:info@zela-od.de">info@zela-od.de</a>.
      </p>
      <a href="#">Impressum & Datenschutzerklärung</a>
    </footer>
  </body>
</html>
