{% extends "base.html" %} {% block content %}
<section>
  <h2>2023: Auf den Spuren von Hobbits, Elben und Zwergen</h2>
  <span>17.07.2023 - 29.07.2023</span>
  <p>Dieses Jahr reisen wir von Haselünne-Westerloh aus nach Mittelerde.</p>

  <p>
    <a href="einladung.pdf">Einladung lesen</a> und
    <a href="anmeldung.pdf">Anmeldung ausfüllen</a>.
  </p>
</section>
<section>
  <h2>Das Lager</h2>
  <img src="{{ config.base_url }}/ausblick.jpg" alt="" />
  <p>
    Das Zeltlager (oder kurz ZeLa) findet jedes Jahr in den ersten 2 Wochen der
    Schleswig-Holsteiner Sommerferien statt. Wir fahren dann mit Bussen und ca.
    80 bis 100 Kindern nach Niedersachsen und verbringen dort mitten in der
    Natur spannende Ferien.
  </p>
  <p>
    Schon etwa eine Woche vor Beginn des Zeltlagers fährt eine Gruppe von
    Teamern (der Vortrupp) zum Lagerplatz und baut das Lager auf. Da wir mit
    eigener Zeltküche, eigenem Zeltladen, Gerätezelt, Spielezelt, und, und, und…
    eine ganze Menge aufzubauen haben, sind wir tatsächlich mit gut 10 bis 15
    Personen, bis zum letzten Moment beschäftigt.
  </p>
  <img src="{{ config.base_url }}/feuer.jpg" alt="" />
  <p>
    Ganz wichtig bei einem richtigen Zeltlager ist natürlich das Lagerfeuer!
    <br />
    Das Lagerfeuer ist eine der vielen Attraktionen unseres Zeltlagers. Es ist
    schon etwas Tolles, wenn man mit über 100 Leuten um ein großes Feuer sitzt
    und gemeinsam Spiele spielt und Lieder singt.
  </p>
  <p>
    Natürlich gibt es bei uns jeden Tag Spiele und Aktionen; von Wald- und
    Geländespielen über Stadtrallyes, Freibadbesuche bis hin zu einem großen
    Tagesausflug.<br />
    Unser Zeltlager steht jedes Jahr unter einem bestimmten Motto. Die Spiele
    werden inhaltlich darauf abgestimmt, und auch die Kinder werkeln und basteln
    für den Höhepunkt des Lagers, den festlichen Sonntag themenspezifisch.
  </p>
</section>
{% endblock content %}
